@{
    ViewData["Title"] = "Home Page";
}
<div class="justify-content-center">
    <button type="button" class="btn btn-primary btn-lg btn-block" asp-controller="" asp-action="">Ja tenho conta</button>
    <a type="button" class="btn btn-secondary btn-lg btn-block" asp-controller="Accounts" asp-action="Create">Criar conta</a>
</div>
