@model Account
@{
    ViewData["Title"] = "Home Page";
}
<div class="justify-content-center">
    <a type="button" class="btn btn-primary btn-lg btn-block" asp-controller="Accounts" asp-action="Login">Already have an Account</a>
    <a type="button" class="btn btn-secondary btn-lg btn-block" asp-controller="Accounts" asp-action="Create">Create Account</a>
</div>
