@model Account
@{
    Layout = "AccountsLayout";
    ViewData["Number"] = Model.Number;
    ViewData["Owner"] = Model.Holder;
}
<div class="justify-content-center">
    <h2>Your Account Menu</h2>
    <hr />
    <h4>Here is where you can acces all of your operations</h4>
    <div class="col-md-6">
        <div class="list-group-horizontal-xxl">
            <a type="button" class="btn btn-secondary btn-lg btn-block" asp-controller="TransactionRecords" asp-action="Deposit" asp-route-id="@Model.Id">Deposit money</a>
        </div>
        <hr />
        <div class="list-group-horizontal-xxl">
            <a type="button" class="btn btn-secondary btn-lg btn-block" asp-controller="TransactionRecords" asp-action="Withdraw" asp-route-id="@Model.Id">Withdraw money</a>
        </div>
        <a asp-action="Details">Account Details</a>
    </div>
</div>
